# Terraform configuration files

smart_gallery_backend\clip_model_epoch_30.pt

*.tf
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
terraform.rc
terraform.tfstate.backup
*.exe